{% extends 'base.html.twig' %}

{% block title %} Flevallis -> Ajout de thème {% endblock %}
{% block body_id %} app {% endblock %}

{% block main %}
    {% include 'baseOpen.html.php' %}
    <center>
    <h1>Ajouter un thème</h1>

    <table>
        <tr>
            <td>
                {{ form_start(addThemeForm)}}
                    {{ form_row(addThemeForm.name, {
                        label: 'Nom du thème : '
                    })
                }}
            </td>
        </tr>
        <tr>
            <td style="text-align:center; vertical-align:top" >
                <br>
                <button class="btn" type="submit">Enregistrer</button>
            </td>
        </tr>
    </table>

    <table style="position:absolute; top:100px; left:80%; background:white">
        <tr>
            <td rowspan="2" style="border:solid 2px black; text-align:center; padding: 0 10px">
                <b>Thèmes déjà existants</b>
                <br><br>
                <p style="overflow:auto; height: 15.5em; margin: 0px;">
                    {% for showTheme in showThemes %}
                        {{ showTheme.name }}
                        <br>
                    {% endfor %}
                </p>
            </td>
        </tr>
    </table>
    {% include 'footer.html.php' %}
{% endblock %}